<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<p>Enter your search here:</p>
<form method="POST">
    <input type="text" name="BusStop1"> <br>
    <input type="text" name="BusStop2"> <br>
    <input type="radio" id="dist" name="Distance" value="Distance">
    <label for="dist">Distance</label>
    <input type="radio" id="fare" name="Fare" value="Fare">
    <label for="fare">Fare</label> <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>