<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<h1>Results</h1>
<h3>From {{ entry["start"] }} to  {{ entry["end"] }}, available options are:</h3>
<table>
    <tr>
        {% for key in keys %}
            <td> {{ key }} </td>
        {% endfor %}
    </tr>
    {% for result in results %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
        </tr>
    {% endfor %}
</table>
<p>Group: {{ entry["group"] }}</p>
<p>Mode of payment: {{ entry["payment_mode"] }}</p>

</body>
</html>