<!DOCTYPE html>
<html lang="en">
{% extends "base.html"%}

{% block content %}
<head>
    <style>
    table, th, tr, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    table.center{
        margin-left: auto;
        margin-right: auto;
    }
     body{
        background-color: lightgrey;
        font-size: 15px;
    }
    </style>
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<h1 style="text-align:center">Results</h1>
<h3 style="text-align:center">Along ServiceNo {{ route }}:</h3>
<table class="center" width="600px">
    <tr style="text-align:center">
        <th style="width:100px">Order</th>
        <th style="width:200px">Bus Stop Code</th>
        <th style="width:600px">Description</th>
    </tr>
    {% for result in results %}
        <tr>
            <td style="text-align:center">{{ result['StopSequence'] }}</td>
            <td style="text-align:center">{{ result['BusStopCode'] }}</td>
            <td style="text-align:center">{{ result['BusStopDesc'] }}</td>
        </tr>
    {% endfor %}
</table>
<a href="{{ url_for('routes', _='')}}">Back</a>

</body>
{% endblock %}
</html>